* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #CAD2C5;
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: #171e22;
}
main .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 35px;
}
main .container .modelTablet {
    width: 100%;
}
.containerSection {
    position: absolute;
    max-width: 1050px;
    width: 1050px;
}
.containerSection section {
    background-color: #2F3E46;
    width: 100%;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 34px 0px;
    border-radius: 60px;
}
.containerSection section {
    background-color: #2F3E46;
    width: 100%;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 34px 0px;
    border-radius: 60px;
}
.containerSection section p button {
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    width: 200px;
    margin-top: 18px;
    padding: 6px 18px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #2387bd;
    transition: all .5s ease 0s;
    font-weight: bold;
}
.containerSection section p button:hover {
    background-color: #2387bd;
    color: #000;
}


h1 {
    font-size: 36px;
}






section p {
    width: 700px;
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    word-spacing: 4px;
    line-height: 30px;
    border: 1px solid #71746f;
    padding: 30px;
    border-radius: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}


.sectionSecond .areaSkills {
    width: 460px;
    height: 200px;
    margin-top: 40px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel {
    display: flex;
}
.carousel .setLeft, .carousel .setRight {
    height: 200px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.carousel .setLeft img{
    width: 40px;
    height: 40px;
    rotate: 180deg;
    cursor: pointer;
}
.carousel .setRight img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.areaSkills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
}
.imgSkills {
    width: 100px;
    height: 106px;
}

.htmlImg {
    width: 100px;
    margin-top: -15px;
    margin-left: -15px;
    
}


.swiperArea {
    margin-top: 60px;
    width: 650px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}





.projectsArea {
    margin-top: 20px;
}
.linkArea {
    display: flex;
    align-items: center;
    justify-content: center;
}
.githubBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CAD2C5;
    width: 46px;
    height: 46px;
    margin: 0px 10px;
    border-radius: 23px;
    cursor: pointer;
}
.github {
    width: 30px;
    height: 30px;
}
.githubBackground:hover {
    background: linear-gradient(180deg, #CAD2C5, #CAD2C5, #8c9189, #CAD2C5, #CAD2C5);  
     background-size: 100% 300%;
     animation: degrade-animado 1s linear infinite ;
 }
 @keyframes degrade-animado {
     0% {
         background-position-y: 0%;
     }
     100% {
         background-position-y: 100%;
     }
}






@media (max-width: 1050px) {
    .containerSection {
        width: 100%;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    section p {
        width: 100%;
        margin-top: 20px;
        font-size: 15px;
        text-align: initial;
        word-spacing: 2px;
        line-height: 27px;
    }
    .containerSection section {
        padding: 30px;
    }
    .swiperArea {
        width: 100%;
        height: 190px;
        margin-top: 40px;
    }
    .modelTablet {
        display: none;
    }
}
@media (max-width: 425px) {
    .container {
        padding-top: 40px;
    }
    section p {
        font-size: 11px;
        text-align: initial;
        word-spacing: 1px;
        line-height: 20px;
    }
    .containerSection section {
        padding: 30px;
    }
    .swiperArea {
        width: 100%;
        height: 190px;
        margin-top: 10px;
    }

    .linkArea {
        margin-top: 7px;
    }
}