.areaIMG {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.areaIMG h3{
    margin-top: 10px;
    margin-bottom: 5px;
}
.areaIMG img {
    width: 250px;
    margin: 0px 20px;
}



@media (max-width: 768px) {
    
    .areaIMG img {
        width: 200px;
    }
}
@media (max-width: 425px) {
    .areaIMG {
        width: 70px;
    }
    .areaIMG img {
        width: 150px;
    }
}