.SwiperProjects {
    height: 100%;
    padding: 0px 20px;
    margin-top: -40px;
}

.SwiperSlideProjects {
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-pagination-bullet {
    background-color: #011b91 !important;
}
.swiper-button-prev {
    color: #011b91 !important;
}
.swiper-button-next {
    color: #011b91 !important;
}