.header {
    background: linear-gradient(to bottom, #4a4f52, #94958B);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
}

.headerTop {
    background-color: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header .image {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

.header .image img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.header .headerName {
    width: 600px;
    height: 70px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;

}

.styleWords {
    transition: all 1s ease 0s;
}

.styleWords:hover {
    color: #011b91;
    font-size: 30px;
}



.mainsNetworks nav {
    background-color: inherit;
    display: flex;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.linkedinBackground, .githubBackground, .instagramBackground, .facebookBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CAD2C5;
    width: 46px;
    height: 46px;
    margin: 0px 10px;
    border-radius: 23px;
    cursor: pointer;
}

.linkedinBackground:hover, .githubBackground:hover, .instagramBackground:hover, .facebookBackground:hover {
    width: 50px;
    height: 50px;
    margin: 0px 8px;
}

.linkedin, .github, .instagram, .facebook {
    width: 30px;
    height: 30px;
}

.linkedinBackground:hover .linkedin, .githubBackground:hover .github, .instagramBackground:hover .instagram, .facebookBackground:hover .facebook {
    width: 34px;
    height: 34px;
}

.linkedinBackground:hover, .facebookBackground:hover {
    background: linear-gradient(180deg, #309afd, #309afd, #044c91, #309afd, #309afd);
    background-size: 100% 300%;
    animation: degrade-animado 1s linear infinite;
}

@keyframes degrade-animado {
    0% {
        background-position-y: 0%;
    }

    100% {
        background-position-y: 100%;
    }
}

.githubBackground:hover {
    background: linear-gradient(180deg, #CAD2C5, #CAD2C5, #8c9189, #CAD2C5, #CAD2C5);
    background-size: 100% 300%;
    animation: degrade-animado 1s linear infinite;
}

@keyframes degrade-animado {
    0% {
        background-position-y: 0%;
    }

    100% {
        background-position-y: 100%;
    }
}

.instagramBackground:hover {
    background: linear-gradient(180deg, #ffce01, #ffce01, #ff04b3, #ff04b3, #6c18ff, #ff04b3, #ff04b3, #ffce01, #ffce01, #ff04b3, #ff04b3);
    background-size: 100% 300%;
    animation: degrade-animado 1s linear infinite;
}

@keyframes degrade-animado {
    0% {
        background-position-y: 0%;
    }

    100% {
        background-position-y: 100%;
    }
}




.header .headerBottom {
    width: 100%;
    text-align: center;
    border-top: 1px solid #4a4f52;
    border-bottom: 1px solid #4a4f52;
}

.menuFixedFalse {
    background-color: #94958B;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menuFixedTrue {
    background-color: #94958B;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 99;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #4a4f52;
}

ul {
    list-style: none;
    display: flex;
}

ul a {
    text-decoration: none;
}

.liStyle {
    background-color: inherit;
    border-bottom: 6px solid #94958B;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 15px 9px 15px;
    cursor: pointer;
    margin-left: 15px;
    text-transform: uppercase;
}

.active {
    border-bottom: 6px solid #011b91;
    color: #011b91;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 15px 9px 15px;
    cursor: pointer;
    margin-left: 15px;
    text-transform: uppercase;
}

ul li:hover {
    border-bottom: 6px solid #011b91;
    color: #011b91;
}







@media (max-width: 768px) {

    .header .headerName {
        width: 420px;
        font-size: 20px;
    }

    .styleWords:hover {
        color: #011b91;
        font-size: 23px;
        transition: all 0.4s ease 0s;
    }




    .liStyle {
        border-bottom: 3px solid #94958B;
        font-size: 12px;
        font-weight: 600;
        padding: 15px 8px;
        margin-left: 0px;
    }

    .active {
        color: #011b91;
        border-bottom: 3px solid #011b91;
        font-size: 12px;
        font-weight: 600;
        padding: 15px 8px;
        margin-left: 0px;
    }

    ul li:hover {
        border-bottom: 3px solid #011b91;
        color: #011b91;
    }

}

@media (max-width: 425px) {
    .header {
        height: 100vh;
    }

    .header .headerName {
        margin-top: 40px;
        margin-bottom: 30%;
        width: 296px;
        font-size: 16px;
    }

    .styleWords:hover {
        color: #011b91;
        font-size: 17px;
        transition: all 0.4s ease 0s;
    }

    .mainsNetworks nav{
        margin-top: -35px;
        margin-bottom: 10px;
    }

    .liStyle {
        font-size: 9px;
        font-weight: 600;
        padding: 10px 8px;
    }

    .active {
        font-size: 9px;
        padding: 10px 8px;
    }
}