body {
    background-color: #BBB;
}

::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background-color: #94958B;
}
::-webkit-scrollbar-thumb {
    background-color: #CAD2C5;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #011b91;
}