.Swiper {
    height: 100%;
}

.SwiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-pagination-bullet {
    background-color: #011b91 !important;
}
.swiper-button-prev {
    color: #011b91 !important;
}
.swiper-button-next {
    color: #011b91 !important;
}