.areaIMG {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.areaIMG img {
    width: 110px;
    height: 110px;
}


.areaIMG .backgroundGIT {
    background-color: #e84d31;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 83px;
    border-radius: 15px;
    rotate: 45deg;
}
.areaIMG .backgroundGIT img {
    width: 110px;
    height: 110px;
    rotate: -45deg;
}
